<% content_for(:title, t('.title')) %>
<div class="listPage">
  <div class="container">
    <%= form_with model: @list, class: "listForm", local: true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: "form-control listName", placeholder: (t ".name") %>
      <div class="text-center">
        <%= f.submit (t "defaults.edit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>