<div class="listPage">
  <div class="container">
    <%= form_with model: @list, url: { action: :create }, class: "listForm", local: true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: "form-control listName", placeholder: "リスト名" %>
      <div class="text-center">
        <%= f.submit (t ".create"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>