<footer class="pt-4 my-md-5 border-top　fixed-bottom">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">©️ 2021 pomotto</small>
    </div>
    <div class="col-6 col-md">
      <h5><a class="text-muted" href="#">利用規約</h5>
    </div>
    <div class="col-6 col-md">
      <h5><a class="text-muted" href="#">プライバシーポリシー</h5>
    </div> 
  </div>
</footer>