<footer>
  <nav class="navbar navbar-expand-sm fixed-bottom  navbar-dark">
    <div class="navbar-nav ml-auto mr-auto">
      <small class="nav-item ">©️ 2021 pomotto</small>
      <a class="nav-item text-dark" href=""　 data-toggle="modal" data-target="#termsModalLong">利用規約</a>
      <a class="nav-item text-dark" href="" data-toggle="modal" data-target="#privacyModalLong">プライバシーポリシー</a>
    </div>
  </nav>
</footer> 
