<footer>
  <div class="container">
    <nav class="navbar navbar-expand-sm fixed-bottom  navbar-dark bg-secondary">
      <div class="col-12 col-md">
        <small class="mb-3 nav-bar">©️ 2021 pomotto</small>
        <a class="nav-bar mb-3" href="#">利用規約</a>
        <a class="nav-bar mb-3" href="#">プライバシーポリシー</a>
      </div>
    </nav>
  </div>
</footer>

