<footer>
  <nav class="navbar navbar-expand-sm fixed-bottom  navbar-dark">
    <div class="navbar-nav ml-auto mr-auto">
      <small class="nav-item ">©️ 2021 pomotto</small>
      <a class="nav-item text-dark" href="#">利用規約</a>
      <a class="nav-item text-dark" href="#">プライバシーポリシー</a>
    </div>
  </nav>
</footer> 
