<header>
  <nav class="navbar navbar-expand-sm fixed-top  navbar-dark" >
  <% unless request.path.include?("profile") %>
    <div class="navbar-brand">Pomosto</div>
  <% else %>
    <%= link_to "Pomosto", root_path, class: "navbar-brand"%>
  <% end %>
  

  
    <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navmenu1"
        aria-controls="navmenu1"
        aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu1">
      <div class="navbar-nav ml-auto main-nav align-items-center">
        <%= link_to (t "defaults.list_create"), new_list_path, class: "nav-item nav-link", remote: true %>
        <%= link_to (t "defaults.mypage"), profile_path, class: "nav-item nav-link" %>        
        <%= link_to (t "defaults.logout"), logout_path, method: :delete, class: "nav-item nav-link" %>
      </div>
    </div>
  </nav>
</header>