<header>
  <nav class="navbar navbar-expand-sm fixed-top  navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">pomosto</a>
      <nav class="my-2 my-md-0 mr-md-3 ml-auto">
        <a class="navbar-brand" href="#">Sign up</a>
        <a class="navbar-brand" href="#">Log in</a>
      </nav>
  </nav>
</header>