<div class="top-hero-wraper text-center">
  <div class="container top-hero-container">
    <h1>タイマーをセットする</h1>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "10分", timer_path  %>
      <%= link_to "25分", "#" %>
      <%= link_to "40分", "#" %>
      <%= link_to "60分", "#" %>
    </div>
  </div>
  </div>
</div>