<div class="container top_page">
  <div class="row align-items-center">
    <div class="col-lg-5 col-xl-5">
      <h1>Pomodoro &amp;
      Stretch</h1>
      <p>Pomostoは、リモートワークの方にポモドーロテクニックを使用した
      休憩時間にストレッチをするサービスです。<br>
      25分の作業時間 → 5分間の休憩を4セット行うと15分の休憩になります。
      </p>
      <%= link_to (t ".start"), new_user_path, class: "btn-block btn btn-lg btn-primary" %>
    </div>
    <div class="col-lg-7">
      <%= image_tag '/assets/10920.png', class: "img-fluid" %>
    </div>
  </div>
</div>