 <div class="container">
  <div class="jumbotron">
    <h1 class="display-6">タイマーをセットする</h1>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to "3秒", timer_path %></li>
        <li class="list-group-item"><%= link_to "10分", "#" %></li>
        <li class="list-group-item"><%= link_to "25分", "#" %></li>
        <li class="list-group-item"><%= link_to "40分", "#" %></li>
      </ul>
  </div>
 </div>