<div data-turbolinks="false">
  <div class="modal js-modal">
    <div class="modal__bg "></div>
      <div class="modal__content">
        <div class="timer-header ">
          <h4 class="form timer-title">タイマー</h4>
          <button type="button" class="btn btn-mdb-color js-modal-close" id="close">閉じる</button>
        </div><!--timer-header-->
        <div class=timer-controls>
          <div class="controls">
            <%= link_to "ストレッチ", timer_path, id:'link', class:"btn btn-mdb-color" %>
          </div>
          <div class="main-timer" id="timer">00分00秒</div>
          <div class="controls">
            <div id="reset" class="btn btn-mdb-color">リセット</div>
            <div id="start" class="btn btn-mdb-color">スタート</div>          
          </div>
        </div>
    </div><!--modal__inner-->
  </div><!--modal-->

  <div class="container">
    <div class="row">
      <h1 class="display-6 mt-5 mx-auto">タイマーをセットする</h1>
    </div>
        <ul class="list-group list-group-flush js-modal-open mt-5 w-50 mx-auto">
          <li class="list-group-item list-group-item-action d-flex justify-content-between" id="3sec">3秒<span>動作確認</span></li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between" id="10min">10分<span>まずは初めて見る</span></li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between" id="25min">25分<span>短く集中</span></li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between" id="40min">40分<span>少し長めの集中</span></li>
        </ul>
    </div>
  </div>
</div>
 <%= javascript_pack_tag 'worktimes/timer' %>