<div class="top-wraper">
    <div class="container">
      <div class="sample"><h2>ここにyoutube</h2></div>
    </div>
</div>

  <div id="open">
    詳細を見る
  </div>

  <div id="mask" class="hidden"></div>

  <section id="modal" class="hidden">
    <p>こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。</p>
    <div id="close">
      閉じる
    </div>
  </section>

    <div id="timer">残り00分00秒</div>
    <div class="controls">
      <div id="3sec">3秒</div>
      <div id="10min">10分</div>
      <div id="25min">25分</div>
      <div id="40min">40分</div>
      <div id="reset">リセット</div>
      <div id="start">スタート</div>
    </div>

<%= javascript_pack_tag 'worktimes/timer' %>